@model Models.cuusers
@{
    ViewData["Title"] = "SignIn";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title> JW | Carrier Home</title>
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="~/css/pages/auth-light.css" rel="stylesheet" />
</head>
<body class="bg-silver-300">
    <div class="content login-form">
        <div class="text-center">
            <h1 class="display-4">Welcome to Carrier Home</h1>
        </div>
        <div class="text-center">
            <br /><br />
            <span> <a href="@Url.Action("SignIn", "carrier")" class="btn btn-default">Sign In </a></span>
            <span>  <a href="@Url.Action("Create", "carrier")" class="btn btn-default">Sign Up </a></span>
        </div>
    </div>
</body>
</html>